<a href="https://colab.research.google.com/github/AliZare76/Heart-Data/blob/main/Heart_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Some description here ....

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/Heart data.csv'
df = pd.read_csv(path)
df.head(10)

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
5,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,0
6,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,0
7,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,0
8,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,0
9,57,1,3,150.0,168.0,0.0,0.0,174.0,0.0,1.6,1.0,0.0,3.0,0

Cleaning and Preparing the data frame :

In [3]:
list(df.columns)

['Age (age in year)',
 'sex',
 'chest pain',
 'blood pressure',
 'cholestoral ',
 'blood sugar',
 'electrocardiographic ',
 'heart rate',
 'exercise induced',
 'depression ',
 'slope',
 'ca',
 'thal',
 'c']

Renaming coloumns to :[age, ch]

In [4]:
df = df.rename(columns = {'Age (age in year)' : 'age' , 'cholestoral ' : 'ch'})
df.head()

,age,sex,chest pain,blood pressure,ch,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0

missing datas

In [5]:
df.isnull().sum()

age                        0
sex                        0
chest pain                 0
blood pressure             1
ch                        23
blood sugar                8
electrocardiographic       1
heart rate                 1
exercise induced           1
depression                 0
slope                    190
ca                       294
thal                     268
c                          0
dtype: int64

Cleaning 3 columns with MEAN methode :

In [6]:
df[['blood pressure' , 'ch' , 'blood sugar']] = df[['blood pressure' , 'ch' , 'blood sugar']].fillna(df[['blood pressure' , 'ch' , 'blood sugar']].mean())
df.isnull().sum()

age                        0
sex                        0
chest pain                 0
blood pressure             0
ch                         0
blood sugar                0
electrocardiographic       1
heart rate                 1
exercise induced           1
depression                 0
slope                    190
ca                       294
thal                     268
c                          0
dtype: int64

**drop duplicate records :**

In [14]:
print(df.shape)

df_dup = df.drop_duplicates()
print(df_dup.shape)

(597, 14)
(596, 14)

Drop null records and columns (with treshhold) :

In [21]:
df_col = df_dup.dropna(axis =1 ,thresh=550) #drop columns with more than 50 nulls
df_col.isnull().sum()

age                      0
sex                      0
chest pain               0
blood pressure           0
ch                       0
blood sugar              0
electrocardiographic     1
heart rate               1
exercise induced         1
depression               0
c                        0
dtype: int64

In [24]:
df_col[['electrocardiographic ','heart rate','exercise induced']] = df_col[['electrocardiographic ','heart rate','exercise induced']].dropna(axis=0)
df_col.isnull().sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

age                      0
sex                      0
chest pain               0
blood pressure           0
ch                       0
blood sugar              0
electrocardiographic     2
heart rate               2
exercise induced         2
depression               0
c                        0
dtype: int64