<a href="https://colab.research.google.com/github/AliZare76/Heart-Data/blob/main/Heart_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Some description here ....

In [9]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/Heart data.csv'
df = pd.read_csv(path)
df.head(10)

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
5,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,0
6,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,0
7,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,0
8,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,0
9,57,1,3,150.0,168.0,0.0,0.0,174.0,0.0,1.6,1.0,0.0,3.0,0

Cleaning and Preparing the data frame :

In [14]:
list(df.columns)

['Age (age in year)',
 'sex',
 'chest pain',
 'blood pressure',
 'cholestoral ',
 'blood sugar',
 'electrocardiographic ',
 'heart rate',
 'exercise induced',
 'depression ',
 'slope',
 'ca',
 'thal',
 'c']

Renaming coloumns to :[age, ch]

In [17]:
df = df.rename(columns = {'Age (age in year)' : 'age' , 'cholestoral ' : 'ch'})
df.head()

,age,sex,chest pain,blood pressure,ch,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0

missing datas

In [18]:
df.isnull().sum()

age                        0
sex                        0
chest pain                 0
blood pressure             1
ch                        23
blood sugar                8
electrocardiographic       1
heart rate                 1
exercise induced           1
depression                 0
slope                    190
ca                       294
thal                     268
c                          0
dtype: int64

Cleaning 3 columns with MEAN methode :

In [20]:
df[['blood pressure' , 'ch' , 'blood sugar']] = df[['blood pressure' , 'ch' , 'blood sugar']].fillna(df[['blood pressure' , 'ch' , 'blood sugar']].mean())
df.isnull().sum()

age                        0
sex                        0
chest pain                 0
blood pressure             0
ch                         0
blood sugar                0
electrocardiographic       1
heart rate                 1
exercise induced           1
depression                 0
slope                    190
ca                       294
thal                     268
c                          0
dtype: int64